<div class="row"> 
 <div class="small-7 columns">
   <h2>Welcome to Alex and Mark Chess Camps!</h2>
   <p>Chess camp is typically a week long, three hours a day intense training in a specific area of chess. Difficulty levels range from principles to much more advanced tactics such as Nimzo-Indian Defense. Morning sessions are held from <strong> 9:00am - 12:00pm </strong> while afternoon sessions are held from <strong> 1:00pm - 4:00pm </strong>.</p>
   <p>We guarantee you a 1:4 instructor to student ratio because we know that is the most effective. The primary instructors for this summer will be Alex and Mark Heimann, who have jointly won eight national scholastic chess championships. Mark is currently among the top 100 players in the United States (USCF rating: 2449), while Alex has earned his Life Master title with a current USCF rating of 2374.</p>
   <p><strong>Unfortunately, at this time, registration for camps cannot be completed online. </strong>Therefore, if you are ready to enroll your student in a specific camp, feel free to reach out to the administrator: <%= link_to "Professor Heimann", contact_path %>. </p>
 </div>

 <div class="small-1 columns">&nbsp;</div>
  
 <div class="small-4 columns">
   <%= render partial: "list_upcoming_camps" %>
   
 </div>
</div>
