<div class="row">
	<div class="small-6 columns">
		<div><%=render partial: "camps_instructing" %></div>
	</div>

	<div class="small-6 columns">
		<%= render partial: "instructor_profile" %>
	</div>
</div>

