<div class="row" >
	<div class="small-4 columns">
		<%= image_tag 'SamPlaying.jpg' %>
	</div>
	
	<div class="small-1 columns">&nbsp;</div>

	<div class="small-7 columns" >
		<h2>The A &amp;M Chess Camp Privacy Policy</h2>

		<em>Parents:</em>
		<p>There are no cookies on our website, and purchases cannot be made online anyway. Therefore, all transactions must be made over the phone or in person. We only take cash or check, and do not accept any type of credit or debit card. Therefore you do not need to worry about any financial security risk because we have none. 
		</p>

		<p>Do note that, with expressed consent, we are free to use pictures of your child in the form of advertisement for our service. Furthermore, their name and age will appear under all camps they are registered for in order to better aid other parents in understanding what type of camp they might consider registering their child for.</p>

		<em>Instructors:</em>
		<p>Your contact information is neither physically available to the public nor to other instructors, aside from administrators. We are free to change this, however we will notify you when we are officially making this switch.</p>

	</div>
</div>